:root{
    --lightColor: ;
    --bg-light: #252525;
    --bg-dark: #1b1b1b;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --color-secondary: #c17e1f;
    --color-tertiary: #9f9f9f;
    --color-dark: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}
.header{
    background-color: rgb(24, 24, 24);
    position: fixed;
    width: 100%;
    box-shadow: 0 0px 3px 0 #414141;
    z-index: 10;
}
.header .header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-family: var(--font-default);
}
.header .header_content .brand a{
    padding: 5px;
    display: block;
    color: var(--color-dark);
    font-size: 30px;
    font-weight: bold;
}
.header .header_content .brand a::after{
    content: ".";
    color: var(--color-secondary);
    font-size: 30px;
}
.header .header_content ul{
    display: flex;
    padding: 25px;
}
.header .header_content ul li{
    padding-inline: 10px;
}
.header .header_content ul a{
    display: block;
    padding: 5px 0;
    color: #838383;
    font-size: 18px;
    font-weight: 600;
}
@keyframes border{
    0%{
        border-bottom: white solid 3px;
    }
    100%{
        border-bottom: var(--color-secondary) solid 3px;
    }
}
.header .header_content ul a:hover{
    color: var(--color-dark);
    animation-name: border;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.header .header_content ul .active{
    color: var(--color-dark);
    border-bottom: var(--color-secondary) solid 3px;
}
.header .header_content .dark i{
    font-size: 22px;
    cursor: pointer;
    color: var(--color-dark);
}
.home{
    padding-top: 83.36px;
    background-color: var(--bg-light);
}
.home .home_content{
    height: calc(100vh - 83.36px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .home_content .desc{
    width: 35%;
    line-height: 1.5;
}
.home .home_content .desc h1{
    font-family :var(--font-default);
    font-size: 40px;
    color: var(--color-dark);
}
.home .home_content .desc p{
    font-family: var(--font-primary);
    color: #787878;
    padding-bottom: 10px;
}
.home .home_content .desc .btns{
    display: flex;
    justify-content: start;
    align-items: center;
}
.home .home_content .desc .book{
    color: black;
    background-color: var(--color-secondary);
    font-family: var(--font-primary);
    border-radius: 0 30px 30px 30px;
    padding: 15px 25px;
    display: block;
    transition-duration: 0.5s;
    transition-property: all;
}
.home .home_content .desc .book:hover{
    background-color: #d3943c;
}
.home .home_content .desc .watch{
    color: var(--color-dark);
    font-family: var(--font-primary);
}
.home .home_content .desc .watch_avideo{
    padding: 10px;
    margin-left: 25px;
}
.home .home_content .desc i{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    border-top: 8px solid var(--color-secondary);
    border-left: 8px solid var(--color-secondary);
    margin-right: 10px;
}
.home .home_content .desc .watch_avideo:hover .watch{
    color: var(--color-secondary);
}
.home .home_content .desc .watch_avideo:hover i{
    color: var(--color-secondary);
}
.home .home_content .image{
    width: 40%;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 0 black;
}
.home .home_content .image:hover{
    animation-name: move;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move {
    0%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(2deg);
    }
}
.home .home_content .image img{
    width: 100%;
    display: block;
}
.chefs{
    padding-block: 15vh;
    background-color: var(--bg-dark);
}
.chefs .chefs_content .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chefs .chefs_content .cards .card{
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 0 #1b1b1b;
    overflow: hidden;
    width: calc(100%/3);
    margin: 20px;
    font-family: var(--font-primary);
    color: #9a9a9a;
    background-color: #151515;
    transition-duration: 0.5s;
    transition-property: all;
}
.chefs .chefs_content .cards .card:hover{
    transform: scale(1.1);
}
.chefs .chefs_content .cards .image{
    overflow: hidden;
}
.chefs .chefs_content .cards .card img{
    width: 100%;
}
.chefs .chefs_content .cards .card h3{
    color: var(--color-dark);
    padding-block: 15px;
}
.chefs .chefs_content .cards .card .des{
    padding-inline: 15px;
    padding-block: 15px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.title p{
    font-family: var(--font-primary);
    color: #838383;
}
.title h2{
    font-family: var(--font-default);
    color: var(--color-dark);
}
.gallery{
    background-color: var(--bg-light);
    padding-block: 15vh;
}
.gallery .gallery_content .images{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.gallery .gallery_content .images .image{
    margin-bottom: 20px;
    border: 5px solid white;
    position: relative;
    overflow: hidden;
}
.gallery .gallery_content .images .image:hover .layout{
    top: 0;
    bottom: 0;
    opacity: 1;
}
.gallery .gallery_content .images .image:hover img{
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-property: all;
}
.gallery .gallery_content .images .image .layout{
    position: absolute;
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    padding: 10px;
    text-align: center;
    transition-duration: 0.5s;
    transition-property: all;
    opacity: 0;
}
.gallery .gallery_content .images .image .layout p{
    padding-top: 10px;
    color: rgb(218, 216, 216);
    font-weight: lighter;
}
.gallery .gallery_content .images img{
    width: 100%;
    display: block;
}
/*end gallery*/
/*start contact*/
.contact{
    padding-block: 15vh;
    background-color: var(--bg-dark);
}
.contact .contact_content .image{
    overflow: hidden;
}
.contact .contact_content .image img{
    width: 100%;
}
.contact .contact_content .cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}
.contact .contact_content .cards .card{
    width: calc(100%/2 - 10px);
    padding: 20px;
    background-color: black;
    font-family: var(--font-primary);
    display: flex;
    align-items: center;
}
.contact .contact_content .cards .card i{
    background-color: var(--color-secondary);
    padding: 15px;
    color: black;
    border-radius: 50%;
    margin-right: 10px;
}
.contact .contact_content .cards .card .info h2{
    color: #838383;
    line-height: 2;
}
.contact .contact_content .cards .card .info p{
    color: white;
}
.contact .contact_content .cards .card .info p span{
    font-weight: bold;
}
.contact .contact_content form{
    margin-top: 30px;
    box-shadow: 0 0 15px 0 #212121;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(24, 24, 24);
}
.contact .contact_content form .name, .email{
    padding: 15px;
    width: calc(50% - 10px);
    text-transform: capitalize;
    font-family: var(--font-primary);
    border: 2px solid #d8d8d8;
    color: #d8d8d8;
}
.contact .contact_content form .subject, .message{
    padding: 15px;
    width: 100%;
    text-transform: capitalize;
    font-family: var(--font-primary);
    border: 2px solid #d8d8d8;
}
.contact .contact_content form button{
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: var(--color-secondary);
    color: black;
    font-family: var(--font-primary);
    text-transform: capitalize;
    margin: 20px auto;
}
/*end contact*/
/*start footer*/
.footer{
    background-color: black;
}
.footer .footer_content{
    display: flex;
    color: white;
    font-family: var(--font-primary);
    padding-block: 30px;
}
.footer .footer_content .social{
    width: 25%;
}
.footer .footer_content .social .logo{
    display: flex;
    align-items: center;
}
.footer .footer_content .social .logo a{
    margin-left: 10px;
    color: white;
    text-transform: capitalize;
}
.footer .footer_content .social .logo a::after{
    content: ".";
    color: var(--color-secondary);
}
.footer .footer_content .social .logo .image{
    width: 50px;
    overflow: hidden;
}
.footer .footer_content .social .logo .image img{
    width: 100%;
}
.footer .footer_content .social h2,hr,.social_media{
    text-align: center;
}
.footer .footer_content .social h2{
    margin-top: 20px;
}
.footer .footer_content .social p{
    line-height: 1.5;
    letter-spacing: 1px;
}
.footer .footer_content .social hr{
    margin-block: 10px;
}
.footer .footer_content .social .social_media{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}
.footer .footer_content .links{
    width: 50%;
    padding-inline: 20px;
}
.footer .footer_content .links p{
    padding-block: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.footer .footer_content .links input{
    width: 80%;
    padding: 10px;
    border: none;
}
.footer .footer_content .links button{
    padding: 10px;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
}
.footer .footer_content .links button:hover{
    background-color: #dd4242;
}
.footer .footer_content .links .qlinks{
    margin: 20px 0 10px 0;
}
.footer .footer_content .links .quick_links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer .footer_content .links .quick_links ul li{
    width: 45%;
    display: inline-block;
    padding: 5px;
    transition-duration: 0.3s;
    transition-property: all;
}
.footer .footer_content .links .quick_links ul li:hover{
    background-color: #1b1b1b;
    transform: translateX(10px);
}
.footer .footer_content .links .quick_links ul li a{
    color: white;
    text-transform: capitalize;
    line-height: 2;
}
.footer .footer_content .contacts{
    width: 25%;
}
.footer .footer_content .contacts .loc, .mail, .phone{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-left: 10px;
}
.footer .footer_content .contacts i{
    margin-right: 15px;
    color: var(--color-secondary);
    font-size: 22px;
    cursor: pointer;
}