*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    overflow: hidden;
    padding-right: 15px;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(235, 235, 235);
}
.container{
    width: 83%;
    margin: auto;
}
.header_content{
    overflow: hidden;
    padding: 5px;
}
.logo{
    float: left;
    height: 7vh;
}
.logo img{
    height: 100%;
}
.nav{
    float: right;
    height: 7vh;
}
li{
    float: left;
    padding: 15px;
    text-align: center;
}
li a{
    color: rgb(179, 176, 176);
    font-size: 18px;
}
li .active{
    color: rgb(51, 50, 50);
}
li a:hover{
    color: rgb(51, 50, 50);
}
.landing{
    height: 100vh;
    width: 100%;
    background-image: url(../images/home.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.landing::after{
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}
.landing .container .landing_content{
    position: absolute;
    top: 35%;
    left: 26%;
    text-align: center;
    color: rgba(255, 255, 255, .92);
    padding: 15px;
    z-index: 1;
}
.landing .container .landing_content p{
    line-height: 1.86em;
    margin-top: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.landing .container .landing_content .top_heading{
    margin-bottom: 5px;
    font-size: 22px;
}
.landing .container .landing_content h1{
    font-size: 65px;
    margin-bottom: 18px;
    line-height: 1.2em;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}
.landing .container .landing_content .subtitle{
    font-size: 24px;
    margin: 10px 0 20px 0;
}
.landing .container .landing_content button{
    color: rgba(255, 255, 255, .92);
    padding: 15px 28px;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
}
.learn_more{
    background-color: rgb(195, 153, 99);
    border: 2px solid rgb(195, 153, 99);
    margin-right: 5px;
}
.contact_us{
    border: 2px solid rgba(255, 255, 255, .92);
    background-color: transparent;
}
.landing .container .landing_content button:hover{
    background-color: rgba(255, 255, 255, .92);
    border: 2px solid rgba(255, 255, 255, .92);
    color: black;
}
.landing .cir{
    height: 50px;
    width: 30px;
    border-radius: 30px;
    border: 2px solid rgba(195, 193, 193, 0.92);
    z-index: 1;
    position: absolute;
    bottom: 1%;
    left: 52%;
    cursor: pointer;
}
.landing .sett{
    position: fixed;
    right: 0;
    top: 30%;
    background-color: white;
    width: 40px;
    height: 80px;
    z-index: 1;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgb(224, 223, 223);
}
.bar{
    margin-bottom: 10px;
}
.sett i{
    color: rgb(99, 98, 98);
    font-size: 22px;
    display: block;
}
.about .about_content{
    overflow: hidden;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.about .about_img{
    float: left;
    width: 45%;
}
.about .about_img img{
    width: 100%;
}
.about_info{
    float: right;
    width: 47%;
    margin-top: 10vh;
    font-family: "PT Sans", sans-serif;
}
.about_info h2{
    color: rgb(66, 63, 63);
    font-size: 32px;
    font-weight: lighter;
}
.about_info>p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(61, 60, 60);
    line-height: 2;
}
.about_info .main_des{
    line-height: 2;
}
.about .icons{
    margin-top: 30px;
}
.about .icon{
    overflow: hidden;
    margin-bottom: 20px;
}
.about .icon p{
    line-height: 2.5;
}
.about i{
    float: left;
    background-color: white;
    color: rgb(195, 153, 99);
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid rgb(195, 192, 192);
    font-size: 20px;
}
.our_location{
    background-color: rgb(246, 246, 251);
}
.our_location .location_content{
    overflow: hidden;
    padding: 15vh 0;
}
.location_info{
    float: left;
    width: 48%;
    margin-top: 15vh;
    font-family: "PT Sans", sans-serif;
}
.location_info h2{
    color: rgb(66, 63, 63);
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 20px;
}
.location_info p{
    line-height: 2;
    color: rgb(61, 60, 60);
}
.location_img{
    float: right;
    width: 45%;
}
.location_img img{
    width: 100%;
}
.our_baking .baking_content{
    font-family: "PT Sans", sans-serif;
    text-align: center;
    margin: 15vh 0;
}
.our_baking .baking_content .baking_des{
    padding-bottom: 50px;
}
.our_baking .baking_content h2{
    color: rgb(66, 63, 63);
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 20px;
}
.our_baking .baking_content p{
    line-height: 2;
    color: rgb(61, 60, 60);
}
.our_baking .baking_content .cards{
    overflow: hidden;
}
.our_baking .baking_content .card{
    float: left;
    width: 33.3%;
    padding: 0 20px;
}
.our_baking .baking_content .card img{
    width: 100%;
}
.our_baking .baking_content .card h3{
    color: rgb(66, 63, 63);
    font-weight: lighter;
    padding: 20px 0;
}
.contact{
    background-color: rgb(246, 246, 251);
}
.contact .contact_content{
    overflow: hidden;
    padding: 15vh 0;
}
.contact .contact_content .contact_info{
    float: left;
    width: 45%;
}
.contact .contact_content .contact_info h2{
    color: rgb(66, 63, 63);
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 20px;
}
.contact .contact_content .contact_info p{
    line-height: 2;
    color: rgb(61, 60, 60);
}
.contact .contact_content .contact_info .subtitle{
    padding: 20px 0;
}
.contact .contact_content .contact_img{
    float: right;
    width: 45%;
}
.contact .contact_content .contact_img img{
    width: 100%;
}
.contact .icon{
    overflow: hidden;
    margin-bottom: 20px;
}
.contact i{
    float: left;
    color: white;
    background-color: rgb(195, 153, 99);
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}